/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
  font-family: "Khand", sans-serif;
}
:root {
  /* dark shades of primary color*/
  --clr-main: #324b60;
  --clr-main-2: #1a3652;
  --clr-primary-1: #0099ff;
  --clr-primary-2: #0790f9;
  --clr-primary-3: #4f7088;
  --clr-primary-4: #2588ce;
  /* primary/main color */
  --clr-primary-5: #2b7fb6;
  /* lighter shades of primary color */
  --clr-primary-6: #367fac;
  --clr-primary-7: #3776a0de;
  --clr-primary-8: #3a79a3;
  --clr-primary-9: #aed7f1;
  --clr-primary-10: #ebf2f6;
  --clr-sidebar: #eff3f5;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #e8edef;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #000000;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.title {
  text-align: center;
}
.title .underline {
  width: 8rem;
  height: 0.25rem;
  background: #49a6e9;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.page-100 {
  min-height: calc(100vh - 10rem);
  padding: 5rem 0;
}
.page {
  min-height: calc(100vh - (20vh + 10rem));
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Array", sans-serif;

  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.text-center {
  text-align: center;
}
/* .loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.price {
  @apply text-[#2b7fb6];
}
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/* Error page */
.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
#summary {
  background-color: #f6f6f6;
}
.color-btn {
  @apply w-6 h-6  focus:outline-none rounded-full border-2
   bg-gray-700 text-white cursor-pointer opacity-70 flex mr-[0.5rem] items-center justify-center;
}
footer {
  z-index: 999;
  overflow: hidden;
}
/* CSS for screens with a max-width of 700px */
@media (max-width: 700px) {
  /* Set the button size to small */
  .amount-button {
    font-size: small;
    padding: 0;
    border: none;
  }
}
/* .active1 {
  background: var(--clr-primary-1);
  color: rgb(255, 145, 0);
} */
